In [1]:
import pandas as pd 
import numpy as np

In [2]:
t1=pd.read_csv("Team1.csv")
t2=pd.read_csv("Team2.csv")

In [3]:
def runwkt(df):
    df['Run']=df["Runs"].str.split(' ').str[0].str.replace("(","")
    df['Wkt']=df["Runs"].str.split(' ').str[2]

In [4]:
t2

               Bowler              Runs
0          Matt Henry   (8 runs, 0 wkt)
1       Kyle Jamieson   (0 runs, 0 wkt)
2          Matt Henry   (6 runs, 0 wkt)
3       Kyle Jamieson   (5 runs, 0 wkt)
4          Matt Henry   (5 runs, 1 wkt)
5       Kyle Jamieson   (6 runs, 0 wkt)
6          Matt Henry   (3 runs, 0 wkt)
7       Kyle Jamieson   (3 runs, 0 wkt)
8          Matt Henry  (10 runs, 0 wkt)
9       Kyle Jamieson  (10 runs, 0 wkt)
10  Michael Bracewell   (3 runs, 0 wkt)
11  Michael Bracewell   (2 runs, 0 wkt)
12  Michael Bracewell   (5 runs, 0 wkt)
13   Mitchell Santner   (4 runs, 0 wkt)
14  Michael Bracewell  (11 runs, 0 wkt)
15   Mitchell Santner    (1 run, 0 wkt)
16  Michael Bracewell    (1 run, 0 wkt)
17   Mitchell Santner  (11 runs, 0 wkt)
18  Michael Bracewell   (7 runs, 0 wkt)
19   Mitchell Santner   (3 runs, 1 wkt)
20  Michael Bracewell  (11 runs, 0 wkt)
21   Mitchell Santner   (4 runs, 0 wkt)
22   Mitchell Santner   (5 runs, 1 wkt)
23   Mitchell Santner    (1 run, 1 wkt)
24    Rachin Ravindra   (7 runs, 0 wkt)
25  Michael Bracewell   (4 runs, 0 wkt)
26    Rachin Ravindra   (4 runs, 1 wkt)
27  Michael Bracewell   (2 runs, 0 wkt)
28    Rachin Ravindra   (2 runs, 0 wkt)
29  Michael Bracewell   (7 runs, 1 wkt)
30    Rachin Ravindra   (2 runs, 0 wkt)
31     Glenn Phillips  (10 runs, 1 wkt)
32    Rachin Ravindra   (5 runs, 0 wkt)
33     Glenn Phillips   (6 runs, 1 wkt)
34   Mitchell Santner   (3 runs, 0 wkt)
35     Glenn Phillips  (11 runs, 0 wkt)
36   Mitchell Santner   (3 runs, 0 wkt)
37         Matt Henry   (5 runs, 0 wkt)
38   Mitchell Santner   (8 runs, 0 wkt)
39         Matt Henry   (6 runs, 1 wkt)
40      Kyle Jamieson  (15 runs, 0 wkt)
41      Kyle Jamieson  (18 runs, 0 wkt)

In [5]:
runwkt(t1)
t1.head()

         Bowler             Runs Run Wkt
0  Marco Jansen  (2 runs, 0 wkt)   2   0
1   Lungi Ngidi  (4 runs, 0 wkt)   4   0
2  Marco Jansen  (6 runs, 0 wkt)   6   0
3   Lungi Ngidi  (9 runs, 0 wkt)   9   0
4  Marco Jansen  (8 runs, 0 wkt)   8   0

In [6]:
runwkt(t2)
t2.head()

          Bowler             Runs Run Wkt
0     Matt Henry  (8 runs, 0 wkt)   8   0
1  Kyle Jamieson  (0 runs, 0 wkt)   0   0
2     Matt Henry  (6 runs, 0 wkt)   6   0
3  Kyle Jamieson  (5 runs, 0 wkt)   5   0
4     Matt Henry  (5 runs, 1 wkt)   5   1