In [34]:
import pandas as pd 
import numpy as np

In [35]:
t1=pd.read_csv("Team1.csv")
t2=pd.read_csv("Team2.csv")

In [36]:
def runwkt(df):
    df['Run']=df["Runs"].str.split(' ').str[0].str.replace("(","")
    df['Wkt']=df["Runs"].str.split(' ').str[2]

In [37]:
t2

               Bowler              Runs
0       Kyle Jamieson   (9 runs, 0 wkt)
1       Kyle Jamieson   (3 runs, 0 wkt)
2       Kyle Jamieson    (1 run, 0 wkt)
3        Nathan Smith   (8 runs, 0 wkt)
4       Kyle Jamieson   (6 runs, 0 wkt)
5        Nathan Smith  (14 runs, 0 wkt)
6    Mitchell Santner    (1 run, 0 wkt)
7     Rachin Ravindra   (4 runs, 0 wkt)
8    Mitchell Santner    (1 run, 0 wkt)
9     Rachin Ravindra   (6 runs, 0 wkt)
10   Mitchell Santner   (5 runs, 0 wkt)
11    Rachin Ravindra  (10 runs, 0 wkt)
12   Mitchell Santner   (7 runs, 0 wkt)
13    Rachin Ravindra   (4 runs, 0 wkt)
14   Mitchell Santner   (3 runs, 0 wkt)
15    Rachin Ravindra   (3 runs, 0 wkt)
16   Mitchell Santner   (3 runs, 1 wkt)
17  Michael Bracewell   (2 runs, 1 wkt)
18   Mitchell Santner   (5 runs, 0 wkt)
19  Michael Bracewell   (2 runs, 0 wkt)
20    Rachin Ravindra   (2 runs, 0 wkt)
21  Michael Bracewell   (4 runs, 0 wkt)
22    Rachin Ravindra    (1 run, 0 wkt)
23  Michael Bracewell   (0 runs, 0 wkt)
24    Rachin Ravindra   (0 runs, 1 wkt)
25  Michael Bracewell   (6 runs, 0 wkt)
26     Glenn Phillips   (5 runs, 0 wkt)
27  Michael Bracewell   (3 runs, 0 wkt)
28     Glenn Phillips   (5 runs, 0 wkt)
29  Michael Bracewell   (4 runs, 0 wkt)
30     Glenn Phillips   (9 runs, 0 wkt)
31  Michael Bracewell   (5 runs, 0 wkt)
32     Glenn Phillips   (2 runs, 0 wkt)
33     Glenn Phillips  (10 runs, 0 wkt)
34   Mitchell Santner   (7 runs, 1 wkt)
35  Michael Bracewell    (1 run, 0 wkt)
36   Mitchell Santner  (11 runs, 0 wkt)
37  Michael Bracewell    (1 run, 1 wkt)
38   Mitchell Santner   (3 runs, 0 wkt)
39    Rachin Ravindra   (6 runs, 0 wkt)
40    Rachin Ravindra  (11 runs, 0 wkt)
41      Kyle Jamieson   (5 runs, 1 wkt)

In [38]:
runwkt(t1)
t1.head()

           Bowler              Runs Run Wkt
0  Mohammed Shami   (4 runs, 0 wkt)   4   0
1   Hardik Pandya   (2 runs, 0 wkt)   2   0
2  Mohammed Shami   (4 runs, 0 wkt)   4   0
3   Hardik Pandya  (16 runs, 0 wkt)  16   0
4  Mohammed Shami  (11 runs, 0 wkt)  11   0

In [39]:
runwkt(t2)
t2.head()

          Bowler             Runs Run Wkt
0  Kyle Jamieson  (9 runs, 0 wkt)   9   0
1  Kyle Jamieson  (3 runs, 0 wkt)   3   0
2  Kyle Jamieson   (1 run, 0 wkt)   1   0
3   Nathan Smith  (8 runs, 0 wkt)   8   0
4  Kyle Jamieson  (6 runs, 0 wkt)   6   0

In [40]:
spinner=["Varun Chakravarthy","Kuldeep Yadav","Axar Patel","Ravindra Jadeja","Mitchell Santner","Rachin Ravindra","Michael Bracewell","Glenn Phillips"]
Pacer=["Kyle Jamieson","Will O'Rourke","Nathan Smith","Mohammed Shami","Hardik Pandya"]

In [41]:
t1['Type'] = t1['Bowler'].apply(lambda x: 'Spin' if x in spinner else 'Pacer')
t2['Type'] = t2['Bowler'].apply(lambda x: 'Spin' if x in spinner else 'Pacer')

In [42]:
t1['Over']=np.arange(1,len(t1)+1)

In [43]:
t2['Over']=np.arange(1,len(t2)+1)

In [44]:
t1['Run']=t1['Run'].astype('int')
t1['Wkt']=t1['Wkt'].astype('int')
t2['Run']=t2['Run'].astype('int')
t2['Wkt']=t2['Wkt'].astype('int')

In [45]:
t1.head()

           Bowler              Runs  Run  Wkt   Type  Over
0  Mohammed Shami   (4 runs, 0 wkt)    4    0  Pacer     1
1   Hardik Pandya   (2 runs, 0 wkt)    2    0  Pacer     2
2  Mohammed Shami   (4 runs, 0 wkt)    4    0  Pacer     3
3   Hardik Pandya  (16 runs, 0 wkt)   16    0  Pacer     4
4  Mohammed Shami  (11 runs, 0 wkt)   11    0  Pacer     5

In [46]:
t1

                Bowler              Runs  Run  Wkt   Type  Over
0       Mohammed Shami   (4 runs, 0 wkt)    4    0  Pacer     1
1        Hardik Pandya   (2 runs, 0 wkt)    2    0  Pacer     2
2       Mohammed Shami   (4 runs, 0 wkt)    4    0  Pacer     3
3        Hardik Pandya  (16 runs, 0 wkt)   16    0  Pacer     4
4       Mohammed Shami  (11 runs, 0 wkt)   11    0  Pacer     5
5   Varun Chakravarthy   (9 runs, 0 wkt)    9    0   Spin     6
6       Mohammed Shami   (5 runs, 0 wkt)    5    0  Pacer     7
7   Varun Chakravarthy   (7 runs, 1 wkt)    7    1   Spin     8
8       Mohammed Shami   (6 runs, 0 wkt)    6    0  Pacer     9
9   Varun Chakravarthy   (5 runs, 0 wkt)    5    0   Spin    10
10       Kuldeep Yadav   (4 runs, 1 wkt)    4    1   Spin    11
11          Axar Patel   (2 runs, 0 wkt)    2    0   Spin    12
12       Kuldeep Yadav   (2 runs, 1 wkt)    2    1   Spin    13
13          Axar Patel   (4 runs, 0 wkt)    4    0   Spin    14
14       Kuldeep Yadav   (2 runs, 0 wkt)    2    0   Spin    15
15          Axar Patel   (2 runs, 0 wkt)    2    0   Spin    16
16       Kuldeep Yadav   (5 runs, 0 wkt)    5    0   Spin    17
17          Axar Patel   (5 runs, 0 wkt)    5    0   Spin    18
18  Varun Chakravarthy   (4 runs, 0 wkt)    4    0   Spin    19
19     Ravindra Jadeja   (2 runs, 0 wkt)    2    0   Spin    20
20  Varun Chakravarthy    (1 run, 0 wkt)    1    0   Spin    21
21     Ravindra Jadeja   (2 runs, 0 wkt)    2    0   Spin    22
22  Varun Chakravarthy   (3 runs, 0 wkt)    3    0   Spin    23
23     Ravindra Jadeja   (3 runs, 1 wkt)    3    1   Spin    24
24  Varun Chakravarthy   (4 runs, 0 wkt)    4    0   Spin    25
25     Ravindra Jadeja   (2 runs, 0 wkt)    2    0   Spin    26
26       Kuldeep Yadav   (7 runs, 0 wkt)    7    0   Spin    27
27     Ravindra Jadeja   (3 runs, 0 wkt)    3    0   Spin    28
28       Kuldeep Yadav   (5 runs, 0 wkt)    5    0   Spin    29
29     Ravindra Jadeja   (4 runs, 0 wkt)    4    0   Spin    30
30          Axar Patel   (3 runs, 0 wkt)    3    0   Spin    31
31     Ravindra Jadeja   (5 runs, 0 wkt)    5    0   Spin    32
32          Axar Patel   (4 runs, 0 wkt)    4    0   Spin    33
33     Ravindra Jadeja   (2 runs, 0 wkt)    2    0   Spin    34
34          Axar Patel   (4 runs, 0 wkt)    4    0   Spin    35
35     Ravindra Jadeja   (3 runs, 0 wkt)    3    0   Spin    36
36          Axar Patel   (5 runs, 0 wkt)    5    0   Spin    37
37  Varun Chakravarthy   (4 runs, 1 wkt)    4    1   Spin    38
38       Kuldeep Yadav   (3 runs, 0 wkt)    3    0   Spin    39
39     Ravindra Jadeja   (4 runs, 0 wkt)    4    0   Spin    40
40       Kuldeep Yadav   (3 runs, 0 wkt)    3    0   Spin    41
41  Varun Chakravarthy   (3 runs, 0 wkt)    3    0   Spin    42
42       Kuldeep Yadav   (6 runs, 0 wkt)    6    0   Spin    43
43      Mohammed Shami  (12 runs, 0 wkt)   12    0  Pacer    44
44  Varun Chakravarthy   (5 runs, 0 wkt)    5    0   Spin    45
45      Mohammed Shami  (11 runs, 1 wkt)   11    1  Pacer    46
46       Kuldeep Yadav   (4 runs, 0 wkt)    4    0   Spin    47
47      Mohammed Shami  (11 runs, 0 wkt)   11    0  Pacer    48
48       Hardik Pandya  (12 runs, 1 wkt)   12    1  Pacer    49
49      Mohammed Shami  (12 runs, 0 wkt)   12    0  Pacer    50