In [23]:
import pandas as pd 
import numpy as np

In [24]:
t1=pd.read_csv("Team1.csv")
t2=pd.read_csv("Team2.csv")

In [25]:
def runwkt(df):
    df['Run']=df["Runs"].str.split(' ').str[0].str.replace("(","")
    df['Wkt']=df["Runs"].str.split(' ').str[2]

In [26]:
t2

               Bowler              Runs         OverDetail
0       Kyle Jamieson   (9 runs, 0 wkt)     0,6,2,0,1w,0,0
1       Will O’Rourke  (13 runs, 0 wkt)  0,1w,2w,0,4,2,0,4
2       Kyle Jamieson   (3 runs, 0 wkt)        1,0,0,0,2,0
3       Will O’Rourke   (5 runs, 0 wkt)     0,2,1w,0,2,0,0
4       Kyle Jamieson    (1 run, 0 wkt)        0,0,0,1,0,0
5        Nathan Smith   (8 runs, 0 wkt)        0,0,6,0,1,1
6       Kyle Jamieson   (6 runs, 0 wkt)        0,1,0,4,0,1
7        Nathan Smith  (14 runs, 0 wkt)        0,6,0,4,0,4
8    Mitchell Santner    (1 run, 0 wkt)        0,0,0,1,0,0
9     Rachin Ravindra   (4 runs, 0 wkt)        0,1,0,1,1,1
10   Mitchell Santner    (1 run, 0 wkt)        1,0,0,0,0,0
11    Rachin Ravindra   (6 runs, 0 wkt)        1,0,1,0,4,0
12   Mitchell Santner   (5 runs, 0 wkt)        2,1,1,0,1,0
13    Rachin Ravindra  (10 runs, 0 wkt)        1,2,0,0,1,6
14   Mitchell Santner   (7 runs, 0 wkt)        0,4,1,1,1,0
15    Rachin Ravindra   (4 runs, 0 wkt)        1,0,0,1,1,1
16   Mitchell Santner   (3 runs, 0 wkt)        0,1,0,0,1,1
17    Rachin Ravindra   (3 runs, 0 wkt)        0,1,1,0,1,0
18   Mitchell Santner   (3 runs, 1 wkt)        2,0,0,W,1,0
19  Michael Bracewell   (2 runs, 1 wkt)        W,0,1,0,1,0
20   Mitchell Santner   (5 runs, 0 wkt)        0,0,1,4,0,0
21  Michael Bracewell   (2 runs, 0 wkt)        0,1,0,0,1,0
22    Rachin Ravindra   (2 runs, 0 wkt)        0,1,1,0,0,0
23  Michael Bracewell   (4 runs, 0 wkt)        1,1,0,2,0,0
24    Rachin Ravindra    (1 run, 0 wkt)        1,0,0,0,0,0
25  Michael Bracewell   (0 runs, 0 wkt)        0,0,0,0,0,0
26    Rachin Ravindra   (0 runs, 1 wkt)        W,0,0,0,0,0
27  Michael Bracewell   (6 runs, 0 wkt)        0,0,6,0,0,0
28     Glenn Phillips   (5 runs, 0 wkt)        1,2,0,1,0,1
29  Michael Bracewell   (3 runs, 0 wkt)        0,0,1,1,0,1
30     Glenn Phillips   (5 runs, 0 wkt)        1,1,1,1,0,1
31  Michael Bracewell   (4 runs, 0 wkt)        1,0,0,2,1,0
32     Glenn Phillips   (9 runs, 0 wkt)        1,1,1,1,4,1
33  Michael Bracewell   (5 runs, 0 wkt)        1,1,1,0,1,1
34     Glenn Phillips   (2 runs, 0 wkt)        0,0,1,1,0,0
35      Will O’Rourke   (5 runs, 0 wkt)        0,1,1,0,1,2
36     Glenn Phillips  (10 runs, 0 wkt)        1,0,6,1,1,1
37      Will O’Rourke   (7 runs, 0 wkt)        1,1,1,0,4,0
38   Mitchell Santner   (7 runs, 1 wkt)        0,0,0,W,1,6
39  Michael Bracewell    (1 run, 0 wkt)        0,0,0,0,1,0
40   Mitchell Santner  (11 runs, 0 wkt)        1,0,1,6,2,1
41  Michael Bracewell    (1 run, 1 wkt)        0,1,W,0,0,0
42   Mitchell Santner   (3 runs, 0 wkt)     0,0,1,1,1w,0,0
43    Rachin Ravindra   (6 runs, 0 wkt)        1,0,1,2,1,1
44      Will O’Rourke   (8 runs, 0 wkt)        4,2,1,0,0,1
45    Rachin Ravindra  (11 runs, 0 wkt)     6,0,1,0,1,2w,1
46      Will O’Rourke   (9 runs, 0 wkt)        1,0,4,1,2,1
47      Kyle Jamieson   (5 runs, 1 wkt)        1,0,W,2,2,0
48      Will O’Rourke   (9 runs, 0 wkt)        2,1,0,1,1,4

In [27]:
runwkt(t1)
t1.head()

           Bowler              Runs      OverDetail Run Wkt
0  Mohammed Shami   (4 runs, 0 wkt)     0,0,0,0,0,4   4   0
1   Hardik Pandya   (2 runs, 0 wkt)  1w,0,0,0,0,1,0   2   0
2  Mohammed Shami   (4 runs, 0 wkt)     0,1,2,0,1,0   4   0
3   Hardik Pandya  (16 runs, 0 wkt)  0,0,1,6,4,1w,4  16   0
4  Mohammed Shami  (11 runs, 0 wkt)     1,4,4,1,0,1  11   0

In [28]:
runwkt(t2)
t2.head()

          Bowler              Runs         OverDetail Run Wkt
0  Kyle Jamieson   (9 runs, 0 wkt)     0,6,2,0,1w,0,0   9   0
1  Will O’Rourke  (13 runs, 0 wkt)  0,1w,2w,0,4,2,0,4  13   0
2  Kyle Jamieson   (3 runs, 0 wkt)        1,0,0,0,2,0   3   0
3  Will O’Rourke   (5 runs, 0 wkt)     0,2,1w,0,2,0,0   5   0
4  Kyle Jamieson    (1 run, 0 wkt)        0,0,0,1,0,0   1   0

In [29]:
spinner=["Varun Chakravarthy","Kuldeep Yadav","Axar Patel","Ravindra Jadeja","Mitchell Santner","Rachin Ravindra","Michael Bracewell","Glenn Phillips"]
Pacer=["Kyle Jamieson","Will O'Rourke","Nathan Smith","Mohammed Shami","Hardik Pandya"]

In [30]:
t1['Type'] = t1['Bowler'].apply(lambda x: 'Spin' if x in spinner else 'Pacer')
t2['Type'] = t2['Bowler'].apply(lambda x: 'Spin' if x in spinner else 'Pacer')

In [31]:
t1['Over']=np.arange(1,len(t1)+1)

In [32]:
t2['Over']=np.arange(1,len(t2)+1)

In [33]:
t1['Run']=t1['Run'].astype('int')
t1['Wkt']=t1['Wkt'].astype('int')
t2['Run']=t2['Run'].astype('int')
t2['Wkt']=t2['Wkt'].astype('int')

In [34]:
t1.head()

           Bowler              Runs      OverDetail  Run  Wkt   Type  Over
0  Mohammed Shami   (4 runs, 0 wkt)     0,0,0,0,0,4    4    0  Pacer     1
1   Hardik Pandya   (2 runs, 0 wkt)  1w,0,0,0,0,1,0    2    0  Pacer     2
2  Mohammed Shami   (4 runs, 0 wkt)     0,1,2,0,1,0    4    0  Pacer     3
3   Hardik Pandya  (16 runs, 0 wkt)  0,0,1,6,4,1w,4   16    0  Pacer     4
4  Mohammed Shami  (11 runs, 0 wkt)     1,4,4,1,0,1   11    0  Pacer     5

In [35]:
t1

,Bowler,Runs,OverDetail,Run,Wkt,Type,Over
0,Mohammed Shami,"(4 runs, 0 wkt)","0,0,0,0,0,4",4,0,Pacer,1
1,Hardik Pandya,"(2 runs, 0 wkt)","1w,0,0,0,0,1,0",2,0,Pacer,2
2,Mohammed Shami,"(4 runs, 0 wkt)","0,1,2,0,1,0",4,0,Pacer,3
3,Hardik Pandya,"(16 runs, 0 wkt)","0,0,1,6,4,1w,4",16,0,Pacer,4
4,Mohammed Shami,"(11 runs, 0 wkt)","1,4,4,1,0,1",11,0,Pacer,5
5,Varun Chakravarthy,"(9 runs, 0 wkt)","5w,1,0,2,0,1,0",9,0,Spin,6
6,Mohammed Shami,"(5 runs, 0 wkt)","0,0,1,0,0,4",5,0,Pacer,7
7,Varun Chakravarthy,"(7 runs, 1 wkt)","1w,2,2,1,0,W,1",7,1,Spin,8
8,Mohammed Shami,"(6 runs, 0 wkt)","1,1,4,0,0,0",6,0,Pacer,9
9,Varun Chakravarthy,"(5 runs, 0 wkt)","0,1,1,1,0,2",5,0,Spin,10
10,Kuldeep Yadav,"(4 runs, 1 wkt)","W,1w,0,1,1,0,1",4,1,Spin,11
11,Axar Patel,"(2 runs, 0 wkt)","0,0,0,1,0,1",2,0,Spin,12
12,Kuldeep Yadav,"(2 runs, 1 wkt)","0,W,1,0,0,1",2,1,Spin,13
13,Axar Patel,"(4 runs, 0 wkt)","0,4,0,0,0,0",4,0,Spin,14
14,Kuldeep Yadav,"(2 runs, 0 wkt)","1,0,0,0,0,1",2,0,Spin,15
15,Axar Patel,"(2 runs, 0 wkt)","0,0,1,0,0,1",2,0,Spin,16
16,Kuldeep Yadav,"(5 runs, 0 wkt)","1,0,0,1,1,2",5,0,Spin,17
17,Axar Patel,"(5 runs, 0 wkt)","1,1,1,1,0,1",5,0,Spin,18
18,Varun Chakravarthy,"(4 runs, 0 wkt)","0,2,0,0,1,1",4,0,Spin,19
19,Ravindra Jadeja,"(2 runs, 0 wkt)","0,1,0,0,0,1",2,0,Spin,20
20,Varun Chakravarthy,"(1 run, 0 wkt)","0,0,1,0,0,0",1,0,Spin,21
21,Ravindra Jadeja,"(2 runs, 0 wkt)","0,1,1,0,0,0",2,0,Spin,22
22,Varun Chakravarthy,"(3 runs, 0 wkt)","0,2,0,0,1,0",3,0,Spin,23
23,Ravindra Jadeja,"(3 runs, 1 wkt)","1,W,0,1,1,0",3,1,Spin,24
24,Varun Chakravarthy,"(4 runs, 0 wkt)","0,1,1,1,1,0",4,0,Spin,25
25,Ravindra Jadeja,"(2 runs, 0 wkt)","0,0,0,0,1,1",2,0,Spin,26
26,Kuldeep Yadav,"(7 runs, 0 wkt)","1,0,0,0,0,6",7,0,Spin,27
27,Ravindra Jadeja,"(3 runs, 0 wkt)","0,1,0,2,0,0",3,0,Spin,28
28,Kuldeep Yadav,"(5 runs, 0 wkt)","1,0,0,4,0,0",5,0,Spin,29
29,Ravindra Jadeja,"(4 runs, 0 wkt)","0,1,1,0,2,0",4,0,Spin,30
30,Axar Patel,"(3 runs, 0 wkt)","0,1w,0,0,1,0,1",3,0,Spin,31
31,Ravindra Jadeja,"(5 runs, 0 wkt)","0,0,1,4,0,0",5,0,Spin,32
32,Axar Patel,"(4 runs, 0 wkt)","0,1,1,1,0,1",4,0,Spin,33
33,Ravindra Jadeja,"(2 runs, 0 wkt)","0,0,0,1,1,0",2,0,Spin,34
34,Axar Patel,"(4 runs, 0 wkt)","0,0,1,1,2,0",4,0,Spin,35
35,Ravindra Jadeja,"(3 runs, 0 wkt)","0,1,0,0,1,1",3,0,Spin,36
36,Axar Patel,"(5 runs, 0 wkt)","1,0,2,1,0,1",5,0,Spin,37
37,Varun Chakravarthy,"(4 runs, 1 wkt)","2,0,2,0,W,0",4,1,Spin,38
38,Kuldeep Yadav,"(3 runs, 0 wkt)","1,0,0,0,1,1",3,0,Spin,39
39,Ravindra Jadeja,"(4 runs, 0 wkt)","1,1,0,1,1,0",4,0,Spin,40
40,Kuldeep Yadav,"(3 runs, 0 wkt)","0,1,0,1,0,1",3,0,Spin,41
41,Varun Chakravarthy,"(3 runs, 0 wkt)","1,0,0,1w,0,1,0",3,0,Spin,42
42,Kuldeep Yadav,"(6 runs, 0 wkt)","0,1lb,0,4,0,1",6,0,Spin,43
43,Mohammed Shami,"(12 runs, 0 wkt)","0,1lb,1,2,6,2",12,0,Pacer,44
44,Varun Chakravarthy,"(5 runs, 0 wkt)","1,0,2,1,0,1",5,0,Spin,45
45,Mohammed Shami,"(11 runs, 1 wkt)","4,2,4,W,0,1",11,1,Pacer,46
46,Kuldeep Yadav,"(4 runs, 0 wkt)","0,1,0,0,2,1",4,0,Spin,47
47,Mohammed Shami,"(11 runs, 0 wkt)","1w,1,1,1,1,4,2",11,0,Pacer,48
48,Hardik Pandya,"(12 runs, 1 wkt)","1w,1,6,1,2,0,1W",12,1,Pacer,49
49,Mohammed Shami,"(12 runs, 0 wkt)","4,2,1,1lb,2,2",12,0,Pacer,50

In [44]:
def perOverCalculation(df):
    detaildf=pd.DataFrame(columns=['Over','Ball','Detail',"Bowler"])
    for m in range(len(df)):
        ball=1
        for y in df['OverDetail'][m].split(','):
            if (y[1:]=='') or (y[1:] in 'Wlb'):
                l=len(detaildf)
                detaildf.loc[l]=[df['Over'][m],ball,y,df['Bowler'][m]]
                print(df['Over'][m],ball,y)
                ball=ball+1
            elif y[1:] in 'wnb':
                l=len(detaildf)
                detaildf.loc[l]=[df['Over'][m],ball,y,df['Bowler'][m]]
                print(df['Over'][m],ball,y)
    return detaildf


def whatevent(row):
    if 'w' in row:
        return "Wide"
    elif 'W' in row:
        return "Wicket"
    elif 'lb' in row:
        return "Leg by"
    elif 'nb' in row:
        return "No ball"
    else:
        return "Runs"

def runsevent(row):
    if 'w' in row:
        runs=int(row[0])
        return runs
    elif 'W' in row:
        try:
            runs=int(row[0])
            return runs
        except:
            return 0
    elif 'lb' in row:
        runs=int(row[0])
        return runs
    elif 'nb' in row:
        runs=int(row[0])
        return runs
    else:
        return int(row[0])

In [45]:
t1detail=perOverCalculation(t1)          
t1detail['Event']=t1detail['Detail'].apply(whatevent)
t1detail['Runs']=t1detail['Detail'].apply(runsevent)

t2detail=perOverCalculation(t2)          
t2detail['Event']=t2detail['Detail'].apply(whatevent)
t2detail['Runs']=t2detail['Detail'].apply(runsevent)

1 1 0
1 2 0
1 3 0
1 4 0
1 5 0
1 6 4
2 1 1w
2 1 0
2 2 0
2 3 0
2 4 0
2 5 1
2 6 0
3 1 0
3 2 1
3 3 2
3 4 0
3 5 1
3 6 0
4 1 0
4 2 0
4 3 1
4 4 6
4 5 4
4 6 1w
4 6 4
5 1 1
5 2 4
5 3 4
5 4 1
5 5 0
5 6 1
6 1 5w
6 1 1
6 2 0
6 3 2
6 4 0
6 5 1
6 6 0
7 1 0
7 2 0
7 3 1
7 4 0
7 5 0
7 6 4
8 1 1w
8 1 2
8 2 2
8 3 1
8 4 0
8 5 W
8 6 1
9 1 1
9 2 1
9 3 4
9 4 0
9 5 0
9 6 0
10 1 0
10 2 1
10 3 1
10 4 1
10 5 0
10 6 2
11 1 W
11 2 1w
11 2 0
11 3 1
11 4 1
11 5 0
11 6 1
12 1 0
12 2 0
12 3 0
12 4 1
12 5 0
12 6 1
13 1 0
13 2 W
13 3 1
13 4 0
13 5 0
13 6 1
14 1 0
14 2 4
14 3 0
14 4 0
14 5 0
14 6 0
15 1 1
15 2 0
15 3 0
15 4 0
15 5 0
15 6 1
16 1 0
16 2 0
16 3 1
16 4 0
16 5 0
16 6 1
17 1 1
17 2 0
17 3 0
17 4 1
17 5 1
17 6 2
18 1 1
18 2 1
18 3 1
18 4 1
18 5 0
18 6 1
19 1 0
19 2 2
19 3 0
19 4 0
19 5 1
19 6 1
20 1 0
20 2 1
20 3 0
20 4 0
20 5 0
20 6 1
21 1 0
21 2 0
21 3 1
21 4 0
21 5 0
21 6 0
22 1 0
22 2 1
22 3 1
22 4 0
22 5 0
22 6 0
23 1 0
23 2 2
23 3 0
23 4 0
23 5 1
23 6 0
24 1 1
24 2 W
24 3 0
24 4 1
24 5 1
24 6 0
25 1 0
25 2 1
25 3 1
25 4 1
25 5 1
25 6 0
26 1 0
26 2 0
26 3 0
26 4 0
26 5 1
26 6 1
27 1 1
27 2 0
27 3 0
27 4 0
27 5 0
27 6 6
28 1 0
28 2 1
28 3 0
28 4 2
28 5 0
28 6 0
29 1 1
29 2 0
29 3 0
29 4 4
29 5 0
29 6 0
30 1 0
30 2 1
30 3 1
30 4 0
30 5 2
30 6 0
31 1 0
31 2 1w
31 2 0
31 3 0
31 4 1
31 5 0
31 6 1
32 1 0
32 2 0
32 3 1
32 4 4
32 5 0
32 6 0
33 1 0
33 2 1
33 3 1
33 4 1
33 5 0
33 6 1
34 1 0
34 2 0
34 3 0
34 4 1
34 5 1
34 6 0
35 1 0
35 2 0
35 3 1
35 4 1
35 5 2
35 6 0
36 1 0
36 2 1
36 3 0
36 4 0
36 5 1
36 6 1
37 1 1
37 2 0
37 3 2
37 4 1
37 5 0
37 6 1
38 1 2
38 2 0
38 3 2
38 4 0
38 5 W
38 6 0
39 1 1
39 2 0
39 3 0
39 4 0
39 5 1
39 6 1
40 1 1
40 2 1
40 3 0
40 4 1
40 5 1
40 6 0
41 1 0
41 2 1
41 3 0
41 4 1
41 5 0
41 6 1
42 1 1
42 2 0
42 3 0
42 4 1w
42 4 0
42 5 1
42 6 0
43 1 0
43 2 1lb
43 3 0
43 4 4
43 5 0
43 6 1
44 1 0
44 2 1lb
44 3 1
44 4 2
44 5 6
44 6 2
45 1 1
45 2 0
45 3 2
45 4 1
45 5 0
45 6 1
46 1 4
46 2 2
46 3 4
46 4 W
46 5 0
46 6 1
47 1 0
47 2 1
47 3 0
47 4 0
47 5 2
47 6 1
48 1 1w
48 1 1
48 2 1
48 3 1
48 4 1
48 5 4
48 6 2
49 1 1w
49 1 1
49 2 6
49 3 1
49 4 2
49 5 0
49 6 1W
50 1 4
50 2 2
50 3 1
50 4 1lb
50 5 2
50 6 2
1 1 0
1 2 6
1 3 2
1 4 0
1 5 1w
1 5 0
1 6 0
2 1 0
2 2 1w
2 2 2w
2 2 0
2 3 4
2 4 2
2 5 0
2 6 4
3 1 1
3 2 0
3 3 0
3 4 0
3 5 2
3 6 0
4 1 0
4 2 2
4 3 1w
4 3 0
4 4 2
4 5 0
4 6 0
5 1 0
5 2 0
5 3 0
5 4 1
5 5 0
5 6 0
6 1 0
6 2 0
6 3 6
6 4 0
6 5 1
6 6 1
7 1 0
7 2 1
7 3 0
7 4 4
7 5 0
7 6 1
8 1 0
8 2 6
8 3 0
8 4 4
8 5 0
8 6 4
9 1 0
9 2 0
9 3 0
9 4 1
9 5 0
9 6 0
10 1 0
10 2 1
10 3 0
10 4 1
10 5 1
10 6 1
11 1 1
11 2 0
11 3 0
11 4 0
11 5 0
11 6 0
12 1 1
12 2 0
12 3 1
12 4 0
12 5 4
12 6 0
13 1 2
13 2 1
13 3 1
13 4 0
13 5 1
13 6 0
14 1 1
14 2 2
14 3 0
14 4 0
14 5 1
14 6 6
15 1 0
15 2 4
15 3 1
15 4 1
15 5 1
15 6 0
16 1 1
16 2 0
16 3 0
16 4 1
16 5 1
16 6 1
17 1 0
17 2 1
17 3 0
17 4 0
17 5 1
17 6 1
18 1 0
18 2 1
18 3 1
18 4 0
18 5 1
18 6 0
19 1 2
19 2 0
19 3 0
19 4 W
19 5 1
19 6 0
20 1 W
20 2 0
20 3 1
20 4 0
20 5 1
20 6 0
21 1 0
21 2 0
21 3 1
21 4 4
21 5 0
21 6 0
22 1 0
22 2 1
22 3 0
22 4 0
22 5 1
22 6 0
23 1 0
23 2 1
23 3 1
23 4 0
23 5 0
23 6 0
24 1 1
24 2 1
24 3 0
24 4 2
24 5 0
24 6 0
25 1 1
25 2 0
25 3 0
25 4 0
25 5 0
25 6 0
26 1 0
26 2 0
26 3 0
26 4 0
26 5 0
26 6 0
27 1 W
27 2 0
27 3 0
27 4 0
27 5 0
27 6 0
28 1 0
28 2 0
28 3 6
28 4 0
28 5 0
28 6 0
29 1 1
29 2 2
29 3 0
29 4 1
29 5 0
29 6 1
30 1 0
30 2 0
30 3 1
30 4 1
30 5 0
30 6 1
31 1 1
31 2 1
31 3 1
31 4 1
31 5 0
31 6 1
32 1 1
32 2 0
32 3 0
32 4 2
32 5 1
32 6 0
33 1 1
33 2 1
33 3 1
33 4 1
33 5 4
33 6 1
34 1 1
34 2 1
34 3 1
34 4 0
34 5 1
34 6 1
35 1 0
35 2 0
35 3 1
35 4 1
35 5 0
35 6 0
36 1 0
36 2 1
36 3 1
36 4 0
36 5 1
36 6 2
37 1 1
37 2 0
37 3 6
37 4 1
37 5 1
37 6 1
38 1 1
38 2 1
38 3 1
38 4 0
38 5 4
38 6 0
39 1 0
39 2 0
39 3 0
39 4 W
39 5 1
39 6 6
40 1 0
40 2 0
40 3 0
40 4 0
40 5 1
40 6 0
41 1 1
41 2 0
41 3 1
41 4 6
41 5 2
41 6 1
42 1 0
42 2 1
42 3 W
42 4 0
42 5 0
42 6 0
43 1 0
43 2 0
43 3 1
43 4 1
43 5 1w
43 5 0
43 6 0
44 1 1
44 2 0
44 3 1
44 4 2
44 5 1
44 6 1
45 1 4
45 2 2
45 3 1
45 4 0
45 5 0
45 6 1
46 1 6
46 2 0
46 3 1
46 4 0
46 5 1
46 6 2w
46 6 1
47 1 1
47 2 0
47 3 4
47 4 1
47 5 2
47 6 1
48 1 1
48 2 0
48 3 W
48 4 2
48 5 2
48 6 0
49 1 2
49 2 1
49 3 0
49 4 1
49 5 1
49 6 4

In [46]:
t1detail.tail(25)

     Over  Ball Detail          Bowler   Event  Runs
284    47     2      1   Kuldeep Yadav    Runs     1
285    47     3      0   Kuldeep Yadav    Runs     0
286    47     4      0   Kuldeep Yadav    Runs     0
287    47     5      2   Kuldeep Yadav    Runs     2
288    47     6      1   Kuldeep Yadav    Runs     1
289    48     1     1w  Mohammed Shami    Wide     1
290    48     1      1  Mohammed Shami    Runs     1
291    48     2      1  Mohammed Shami    Runs     1
292    48     3      1  Mohammed Shami    Runs     1
293    48     4      1  Mohammed Shami    Runs     1
294    48     5      4  Mohammed Shami    Runs     4
295    48     6      2  Mohammed Shami    Runs     2
296    49     1     1w   Hardik Pandya    Wide     1
297    49     1      1   Hardik Pandya    Runs     1
298    49     2      6   Hardik Pandya    Runs     6
299    49     3      1   Hardik Pandya    Runs     1
300    49     4      2   Hardik Pandya    Runs     2
301    49     5      0   Hardik Pandya    Runs     0
302    49     6     1W   Hardik Pandya  Wicket     1
303    50     1      4  Mohammed Shami    Runs     4
304    50     2      2  Mohammed Shami    Runs     2
305    50     3      1  Mohammed Shami    Runs     1
306    50     4    1lb  Mohammed Shami  Leg by     1
307    50     5      2  Mohammed Shami    Runs     2
308    50     6      2  Mohammed Shami    Runs     2